html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  text-align: center;
  color: #fff;
  background-image: url(https://c4.wallpaperflare.com/wallpaper/400/132/875/blue-world-map-hd-wallpaper-wallpaper-preview.jpg);
  font-family: "ZCOOL KuaiLe", cursive;
  font-size: larger;
}

#map {
  height: 80vh;
  border-radius: 1rem;
  /* pointer-events: none; */
}

.container {
  width: 80vw;
  height: 40vh;
  margin: 0 auto;
}
